= stylesheet_link_tag 'users_show'

.pagecontainer

  -# ヘッダー
  .pagecontainer__mypageheader
    = render 'home/humburger'
    .firststage
    =link_to image_tag('logo.png', alt: "ロゴ画像", class:"headerlogo"), root_path

  -# メイン  
  .pagecontainer__mypagecontents 
    -# %p ニックネーム
    -# = @user.nickname
    -# %p 生年月日
    -# = @user.birthdate
    -# %p メールアドレス
    -# = @user.email
    %ul.menu
      %li.menu__item
        .menu__item__link.js-menu__item__link ユーザー登録情報（クリックで開く）
        %ul.submenu
          %li.submenu__item
            %a{:href => ""} サブメニュー1
          %li.submenu__item
            %a{:href => ""} サブメニュー2
          %li.submenu__item
            %a{:href => ""} サブメニュー3
          %li.submenu__item
            %a{:href => ""} サブメニュー4
        .menu__item__link.js-menu__item__link 出品履歴確認（クリックで開く）
        %ul.submenu
          %li.submenu__item
            %a{:href => ""} サブメニュー1
          %li.submenu__item
            %a{:href => ""} サブメニュー2
          %li.submenu__item
            %a{:href => ""} サブメニュー3
          %li.submenu__item
            %a{:href => ""} サブメニュー4
        .menu__item__link.js-menu__item__link 売り上げ確認（クリックで開く）
        %ul.submenu
          %li.submenu__item
            %a{:href => ""} サブメニュー1
          %li.submenu__item
            %a{:href => ""} サブメニュー2
          %li.submenu__item
            %a{:href => ""} サブメニュー3
          %li.submenu__item
            %a{:href => ""} サブメニュー4
        .menu__item__link.js-menu__item__link クレジットカード登録（クリックで開く）
        %ul.submenu
          %li.submenu__item
            %a{:href => ""} サブメニュー1
          %li.submenu__item
            %a{:href => ""} サブメニュー2
          %li.submenu__item
            %a{:href => ""} サブメニュー3
          %li.submenu__item
            %a{:href => ""} サブメニュー4



  -# フッター
  = render 'home/topfooter'
  