%p ヘルプページ

%p このサイトは就活のためのポートフォリオアプリです。

%p まだ公開する予定ではなかったため一部開発中のコメントが残っている,機能として中途半端な部分がある等、本来お見せする予定ではなかった物が残っていると思います。
%p またデプロイやデータベース改修も行うため、タイミングによってはご利用いただけなくなったり、DBの登録情報もクリーンにさせていただく可能性がございます。
%p ５月２３日土曜日にプログラミングスクールを修了する予定ですが、その前に就職活動の準備としてリクルーティングサイトに登録しております。
%p 修了までにhelpも作り直そうと考えています。
%p その際にポートフォリオサイトとしてこちらのサイトのリンクも載せておりました。
%p そちらをご覧いただいた一部企業様からアクションいただいたため急遽ヘルプページを書いております。
%p 機能等についてはなるべく早くread meにて説明する予定です。
%p 興味を持っていただいた採用担当者様にこの状態で見ていただくのは心苦しいのですが、何卒ご理解の程をよろしくお願い申し上げます。

