.pagecontainer{
  background-color:rgb(243, 240, 240);
  padding: 50px;

  // ヘッダー
  &__categoryheader{
    text-align: center;
    
      // ここから先はハンバーガーメニュー部分（パーシャル部分）
      .humburgermenu-wrapper{
        position: fixed;
        top: 30px;
        right: 30px;
        // 基準の位置
        .nav_toggle {
          display: block;
          position: relative;
          width: 1.75rem;
          height: 1.5rem;
            // 三本線クリック前
          .toggle-i{
            display: block;
            width: 100%;
            height: 2px;
            background-color: #333;
            position: absolute;
            transition: transform .5s, opacity .5s;
          }
          .toggle-i:nth-child(1) {
            top: 0;
          }
          .toggle-i:nth-child(2) {
            top: 0;
            bottom: 0;
            margin: auto;
          }
          .toggle-i:nth-child(3) {
            bottom: 0;
          }
        }
  
          // 三本線クリック後
        .nav_toggle.show{
          .toggle-i:nth-child(1) {
            transform: translateY(10px) rotate(-45deg);
          }
          .toggle-i:nth-child(2) {
            opacity: 0;
          }
          .toggle-i:nth-child(3) {
            transform: translateY(-12px) rotate(45deg);
          }
        }
  
        
        // メニューリストクリック前
        .nav {
          position: fixed;
          top: 50px;
          right: 50px;
          padding: 1rem;
          opacity: 0;
          visibility: hidden;
        }
  
        // メニューリストクリック後
        .nav.show {
          opacity: 1;
          visibility: visible;
          background-color: lightgray;
          border-radius: 15px;
          .nav_menu_li{
            padding: 5px;
            border-radius: 10px;
            .humburgerlink{
              text-decoration: none;
              color: black;
            }
          }
  
          .nav_menu_li:hover{
            background-color: rgb(230, 241, 167);
          }
          
        }
  
        // ハンバーガメニューはここまで
      }
    
  }


  // メイン
  &__categorymain{
    background-color: rgb(248, 253, 235);
    .parent{
      width: 100%;
      text-align: center;
      padding: 1px;
      &__categoryname{
        font-size: 27px;
        margin-top: 20px;
      }
      .simplebar{
        margin: auto;
        width:90%;
        background: lightgray;
        height:1px;
        margin-top:30px;
      }
      .child{
        &__categoryname{
          background-color: skyblue;
          border-radius: 30px;
          width: 90%;
          margin: auto;
          margin-top: 20px;
          .categorylinks{
            text-decoration: none;
            color:black;
          }
        }
        .grandchild{
          display: inline-block;
          display: flex;
          flex-wrap: wrap;
          width: 90%;
          margin: auto;
          &__categoryname{
            background-color:rgb(226, 230, 231);
            padding:5px;
            margin: 10px;
            border-radius: 5px;
            width: auto;
            .categorylinks{
              text-decoration: none;
              color: black;
            }
          }
        }
      }
    }
  }


  // フッター
  &__footer{
    text-align: center;
    .footerbox{
      padding-top: 20px;
      margin:20px;
      &__abouts{
        margin-left: 10px;
        font-size: 12px;
      }
    }
    .footerlogo{
      width:200px;
      height: 50px;
    }
  }


}