
// 大枠
.pagecontainer{
  background-color:rgb(243, 240, 240);
  padding: 50px;
  // ヘッダー
    &__header{
      text-align: center;
      .firststage{
        .search-field{
          width: 50%;
          margin:20px 3px;
        }
      }
      .secondstage{
        display:flex;
        justify-content: space-around;
        background-color: orange;
        height: 35px;
        &__left{
          background-color: blue;
          .topmenu{
            color: red;
          }
          .categorylist-wrapper{
            display:flex;
            background-color: purple;
            .parentul{
              background-color: white;
              visibility: hidden;
            }
          }
          
        }
        &__right{
          display:flex;
          background-color: red;
        }
      }
    }




    // フッター
    &__footer{
      text-align: center;
      .footerbox{
        padding-top: 20px;
        margin:20px;
        &__abouts{
          margin-left: 10px;
          font-size: 12px;
        }
      }
      .footerlogo{
        width:200px;
        height: 50px;
      }
    }
}


