
// 大枠
.pagecontainer{
  background-color:rgb(243, 240, 240);
  padding: 50px;
  // ヘッダー
    &__header{
      text-align: center;
      .firststage{
        .search-field{
          width: 50%;
          margin:20px 3px;
        }
      }
      .secondstage{
        display:flex;
        justify-content: space-between;
        background: rgba(10,10,10,0.95);
        height: 35px;
        &__left{
          background-color: blue;
          position: relative;
          .topmenu{
            position: absolute;
            left: 0;
            top:0;
            width: 200px;
            .categorytoplink{
              color:white;
              text-decoration: none;
              line-height: 35px;
            }
          }
          .categorylist-wrapper{
            position: absolute;
            left: 0;
            top:35px;
            display:flex;
            .parentul{
              background-color: white;
              visibility: hidden;
              width: 200px;
            }
            .childrenul{
              background-color: white;
              visibility: hidden;
              width: 200px;
            }
            .grandchildrenul{
              background-color: white;
              visibility: hidden;
              width: 200px;
            }
          }
          
        }
        &__right{
          display:flex;
          .headerlink{
            color:white;
            text-decoration: none;
            line-height: 35px;
            margin-right: 10px;
          }
        }
      }
    }

    // メイン
    &__main{
      .jsevacuation-space{
        background-color: rgb(248, 253, 235);
        height:500px;
        display: flex;
        justify-content: space-around;
        .evacuationcontent{
          margin-top:100px ;
          text-align: center;
          &__text{
            margin: auto;
          }
        }
      }
      


      .contentswrapper{
        display:flex;
        justify-content: space-around;
        margin-top: 70px;
        background-color: rgb(248, 253, 235);
        &__item{
          background-color: red;
        }

        &__category{
          background-color: green;
        }
      }


      .contentsborder{
        &__declare{
          background-color: blue;
          text-align: center;
          font-size: larger;
          margin-top: 50px;
        }
        .simplebar{
          margin: auto;
          width:90%;
          background: lightgray;
          height:1px;
          margin-top:30px;
        }
      }

      .putitemlogo{
        position:fixed;
        bottom: 50px;
        right: 50px;
      }

    }





    // フッター
    &__footer{
      text-align: center;
      .footerbox{
        padding-top: 20px;
        margin:20px;
        &__abouts{
          margin-left: 10px;
          font-size: 12px;
        }
      }
      .footerlogo{
        width:200px;
        height: 50px;
      }
    }
}


