

// 大枠
.pagecontainer{
  padding:50px;
  background-color:lightblue;
  
  // ヘッダー
    &__header{
      text-align: center;
      .firststage{
        background-color: pink;
      }
      .secondstage{
        background-color: lightgreen;
      }
    }




    // フッター
    &__footer{
      text-align: center;
      .footerbox{
        padding-top: 20px;
        margin:20px;
        &__abouts{
          margin-left: 10px;
          font-size: 12px;
        }
      }
      .footerlogo{
        width:250px;
        height: 100px;
      }
    }
}


