
.pagecontainer{
  background-color:rgb(243, 240, 240);
  padding: 50px;

  // ヘッダー
  &__itemshowheader{
    text-align: center;
    .headerlogo{
      width: 66%;
    }

    // ここから先はハンバーガーメニュー部分（パーシャル部分）
    .humburgermenu-wrapper{
      position: fixed;
      top: 30px;
      right: 30px;
      // 基準の位置
      .nav_toggle {
        display: block;
        position: relative;
        width: 1.75rem;
        height: 1.5rem;
          // 三本線クリック前
        .toggle-i{
          display: block;
          width: 100%;
          height: 2px;
          background-color: #333;
          position: absolute;
          transition: transform .5s, opacity .5s;
        }
        .toggle-i:nth-child(1) {
          top: 0;
        }
        .toggle-i:nth-child(2) {
          top: 0;
          bottom: 0;
          margin: auto;
        }
        .toggle-i:nth-child(3) {
          bottom: 0;
        }
      }

        // 三本線クリック後
      .nav_toggle.show{
        .toggle-i:nth-child(1) {
          transform: translateY(10px) rotate(-45deg);
        }
        .toggle-i:nth-child(2) {
          opacity: 0;
        }
        .toggle-i:nth-child(3) {
          transform: translateY(-12px) rotate(45deg);
        }
      }

      
      // メニューリストクリック前
      .nav {
        position: fixed;
        top: 50px;
        right: 50px;
        padding: 1rem;
        opacity: 0;
        visibility: hidden;
      }

      // メニューリストクリック後
      .nav.show {
        opacity: 1;
        visibility: visible;
        background-color: lightgray;
        border-radius: 15px;
        .nav_menu_li{
          padding: 5px;
          border-radius: 10px;
          .humburgerlink{
            text-decoration: none;
            color: black;
          }
        }

        .nav_menu_li:hover{
          background-color: rgb(230, 241, 167);
        }
        
      }

      // ハンバーガメニューはここまで
    }

    // ヘッダーここまで
  }



  // メイン部分
  &__itemshowcontents{
    background-color: rgb(248, 253, 235);
    .itemname{
      text-align: center;
      font-size: 26px;
      margin-bottom: 20px;
    }
    .iteminfo{
      @media screen and (min-width: 769px){
        display: flex;      
        &__image{
          width: 50%;
          text-align: center;
          background-color: white;
        }

        &__text{
          width: 50%;
          .textinfowrapper{
            display: flex;
            &__left{
              width: 30%;
              height:50px;
              background-color: rgb(230, 223, 223);
              border: 1px solid rgb(209, 202, 202);
              line-height: 50px;
              padding: 5px;
            }
            &__right{
              width: 70%;
              padding: 5px;
              line-height: 50px;
              background-color: white;
              border: 1px solid rgb(209, 202, 202);
            }
          }
        }
      }

      @media screen and (max-width: 768px){ 
        width:100%;
        text-align: center;
        &__image{
          width: 100%;
          text-align: center;
          background-color: white;
        }

        &__text{
          width: 100%;
          .textinfowrapper{
            display: flex;
            &__left{
              width: 30%;
              height:50px;
              background-color: rgb(230, 223, 223);
              border: 1px solid rgb(209, 202, 202);
              line-height: 50px;
              padding: 5px;
            }
            &__right{
              width: 70%;
              padding: 5px;
              line-height: 50px;
              background-color: white;
              border: 1px solid rgb(209, 202, 202);
            }
          }
        }

      }

    }
    .itemcost{
      text-align: center;
      font-size: 40px;
      background-color: white;
      padding:50px;
    }

    // 編集・削除・購入
    .purchase-or-edit-delete{
      .edit-div{
        font-size: 25px;
        text-align: center;
        width: 50%;
        margin: auto;
        padding: 5px;
        border-radius: 25px;
        margin-bottom: 30px;
        background-color: green;
        .btnlink{
          text-decoration: none;
          color: white;
        }
      }
      .delete-div{
        font-size: 25px;
        text-align: center;
        width: 50%;
        margin: auto;
        padding: 5px;
        border-radius: 25px;
        margin-bottom: 30px;
        background-color: red;
        .btnlink{
          text-decoration: none;
          color: white;
        }
      }
      .purchase-div{
        font-size: 25px;
        text-align: center;
        width: 50%;
        margin: auto;
        padding: 5px;
        border-radius: 25px;
        margin-bottom: 30px;
        background-color: lightskyblue;
        margin-top: 30px;
        .btnlink{
          text-decoration: none;
          color: white;
        }
      }
      .purchase-p{
        text-align: center;
        margin-top: 30px;
        color:lightslategray;
      }
      .purchase-login{
        font-size: 25px;
        text-align: center;
        width: 50%;
        margin: auto;
        padding: 5px;
        border-radius: 25px;
        margin-bottom: 30px;
        background-color: lightskyblue;
        .btnlink{
          text-decoration: none;
          color: white;
        }
      }
    }

    

    // 商品説明
    .itemexplanation{
      text-align: center;
      &__title{
        font-size: 20px;
        color:grey;
      }
      &__content{
        margin: auto;
        width: 70%;
        min-height: 150px;
        background-color:rgb(230, 223, 223);
        padding: 13px;
        border-radius: 10px;
        text-align: left;
      }
    }
    // 横棒
    .simplebar{
      margin: auto;
      width:90%;
      background: lightgray;
      height:1px;
      margin-top:30px;
    }

    // コメント
    .itemcomments{
      margin-top: 20px;
      text-align: center;
      &__wrapper{
        justify-content: column;
        .commentform{
          line-height: 40px;
          width: 80%;
          margin-bottom: 10px;
        }
        
      }
      .submitbtn{
        background-color: lightskyblue;
        color: white;
        margin-left: 15px;
        width: 60px;
        height: 30px;
        border-radius: 10px;
      }
      .commentp{
        text-align: center;
        color: grey;
        margin-top: 15px;
        margin-bottom: 15px;
      }
      .comments-indexp{
        background-color: white;
        width: 80%;
        margin: auto;
        border: solid 0.5px lightgrey;
        text-align: left;
        line-height: 33px;
      }

    }


  }

  // フッター
  &__footer{
    text-align: center;
    .footerbox{
      padding-top: 20px;
      margin:20px;
      &__abouts{
        margin-left: 10px;
        font-size: 12px;
      }
    }
    .footerlogo{
      width:200px;
      height: 50px;
    }
  }

// 大外
}

