.pagecontainer{
  background-color:rgb(243, 240, 240);
  padding: 50px;

  // ヘッダー
  &__searchheader{
    text-align: center;
    
      // ここから先はハンバーガーメニュー部分（パーシャル部分）
      .humburgermenu-wrapper{
        position: fixed;
        top: 30px;
        right: 30px;
        // 基準の位置
        .nav_toggle {
          display: block;
          position: relative;
          width: 1.75rem;
          height: 1.5rem;
            // 三本線クリック前
          .toggle-i{
            display: block;
            width: 100%;
            height: 2px;
            background-color: #333;
            position: absolute;
            transition: transform .5s, opacity .5s;
          }
          .toggle-i:nth-child(1) {
            top: 0;
          }
          .toggle-i:nth-child(2) {
            top: 0;
            bottom: 0;
            margin: auto;
          }
          .toggle-i:nth-child(3) {
            bottom: 0;
          }
        }
  
          // 三本線クリック後
        .nav_toggle.show{
          .toggle-i:nth-child(1) {
            transform: translateY(10px) rotate(-45deg);
          }
          .toggle-i:nth-child(2) {
            opacity: 0;
          }
          .toggle-i:nth-child(3) {
            transform: translateY(-12px) rotate(45deg);
          }
        }
  
        
        // メニューリストクリック前
        .nav {
          position: fixed;
          top: 50px;
          right: 50px;
          padding: 1rem;
          opacity: 0;
          visibility: hidden;
        }
  
        // メニューリストクリック後
        .nav.show {
          opacity: 1;
          visibility: visible;
          background-color: lightgray;
          border-radius: 15px;
          .nav_menu_li{
            padding: 5px;
            border-radius: 10px;
            .humburgerlink{
              text-decoration: none;
              color: black;
            }
          }
  
          .nav_menu_li:hover{
            background-color: rgb(230, 241, 167);
          }
          
        }
  
        // ハンバーガメニューはここまで
      }
    
  }

  // メイン
  &__searchcontents{
    display:flex;
    .narrowing-down-part{
      width: 300px;
      .orderselect{
        background-color:lightyellow;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 40px;
        .decoratedselect{          
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 200px;
          margin-top: 5px;
          border-radius: 4%;
          background-color: white;
          border: solid 2px lightgray;
          background-image: url(./images/icon_arrow.svg);
          background-repeat: no-repeat;
          background-size: 12px 10px;
          background-position: right 10px center;
        }
        .decoratedchevron{
          margin-left: -30px;
        }
      }

      .searchselect{
        background-color:lightyellow;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 40px;
        .form-group{
          .decoratedselect{          
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 200px;
            margin-top: 5px;
            border-radius: 4%;
            background-color: white;
            border: solid 2px lightgray;
            background-image: url(./images/icon_arrow.svg);
            background-repeat: no-repeat;
            background-size: 12px 10px;
            background-position: right 10px center;
          }
          .decoratedchevron{
            margin-left: -30px;
          }
        }
      }
    }

    .contentspart{
      width: calc(100% - 400px);
      background-color: lime;
    }

  }


  // フッター
  &__footer{
    text-align: center;
    .footerbox{
      padding-top: 20px;
      margin:20px;
      &__abouts{
        margin-left: 10px;
        font-size: 12px;
      }
    }
    .footerlogo{
      width:200px;
      height: 50px;
    }
  }

}